In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("data2/worldometers-2022-04-30.tsv", sep="\t")
df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent
0,USA,83066907,24751.0,1020833.0,115.0,80684899.0,29374.0,1361175.0,1576.0,248299.0,3051.0,1.005438e+09,3005403.0,3.345435e+08,North America
1,India,43079188,3324.0,523843.0,40.0,42536253.0,2876.0,19092.0,698.0,30667.0,373.0,8.374420e+08,596148.0,1.404754e+09,Asia
2,Brazil,30448236,15194.0,663551.0,67.0,29519204.0,11647.0,265481.0,8318.0,141412.0,3082.0,6.377617e+07,296198.0,2.153158e+08,South America
3,France,28645285,49482.0,145930.0,61.0,26801506.0,107496.0,1697849.0,1677.0,437086.0,2227.0,2.664840e+08,4066162.0,6.553699e+07,Europe
4,Germany,24761600,57003.0,135900.0,106.0,22307900.0,80300.0,2317800.0,1446.0,293827.0,1613.0,1.223324e+08,1451626.0,8.427266e+07,Europe

In [6]:
#Kiểm tra số lượng giá trị null trong bảng dữ liệu
df.isnull().sum()

Country,Other         0
TotalCases            0
NewCases            132
TotalDeaths           8
NewDeaths           177
TotalRecovered       15
NewRecovered        148
ActiveCases          15
Serious,Critical     79
Tot Cases/1M pop      2
Deaths/1M pop        10
TotalTests           16
Tests/1M pop         16
Population            2
Continent             2
dtype: int64

In [7]:
#Kiểm tra kiểu dữ liệu của các cột
df.dtypes

Country,Other        object
TotalCases            int64
NewCases            float64
TotalDeaths         float64
NewDeaths           float64
TotalRecovered      float64
NewRecovered        float64
ActiveCases         float64
Serious,Critical    float64
Tot Cases/1M pop    float64
Deaths/1M pop       float64
TotalTests          float64
Tests/1M pop        float64
Population          float64
Continent            object
dtype: object

Các cột có vẻ như đã phù hợp với dữ liệu trong bảng rồi nên ta không cần chuyển đổi.